*{
		margin: 0;
		padding: 0;
		font-family: <b> Century Gothic </b>;
		font-size: 24px
		
 }
 header{
		background-image: url(../01.jpeg);
		padding: 2px;
		height: 60vh; 
		background-size: cover;
		background-position: center
		
 }
 ul{
	 float: left;
	 list-style-type: none;
	 margin-top: 15px; 
 }
 
 ul li{
	 display: inline-block;
 }

  ul li a{
	 	text-decoration: none;
		color:#fff;
		padding: 10px 40px;
		border: 2px solid #fff;
		transition: 0.6s ease;
		
}
  
  ul li a:hover{
		background-color: #fff;
		color: #009900;	
  }
  
  .logo img{
	  float: right;
	  width: 50px;
	  height: auto;
  }
  
 .title{
	 position: absolute;
	 top: 60%;
	 left: 50%;
	 transform: translate(-50%,-50%);
 }
 
 .title h1{
	 background-color: maroon;
	 color: #fff;
	 padding: 10px;
	 font-size: 40px;
	 text-align: center;
 }
 .button{
	 font-size: 15px;
	 position: absolute;
	 top: 78%;
	 left: 50%;
	 transform: translate(-50%,-50%);
 }
 
.btn{
	border: 1px solid #ff5c33;
	padding: 10px 40px;
	color: #009900;
	text-decoration: none;
}
 
.btn:hover{
	 background-color: powderblue;
	 color: #fff;
	transition: 0.6s ease;
 }
 
  
  
		
		
		